<ion-header>
  <ion-navbar>
    <ion-title>cadastro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form novalidate [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <ion-list>
      <ion-item>
            <ion-input type="text" placeholder="Name"
            formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input type="email" placeholder="E-mail"
           formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input type="password" placeholder="Senha"
           formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input type="password" placeholder="Redigite a Senha"
           formControlName="confirmPassword"></ion-input>
      </ion-item>
    </ion-list>
      <button type="submit" ion-button outline  [disabled]="registerForm.invalid">Criar conta</button>
  </form>
</ion-content>