<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input type="email" id="email"placeholder="Login">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" id="password" placeholder="Senha">
    </ion-input>
  </ion-item>

  <button ion-button>login</button>
  <button ion-button>criar</button>

</ion-content>
